body{
    text-align: center;
	background-color: #CCCCFF;
}


#jeu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: auto;
	color: #6600CC;
}

.case{
    border: 1px solid black;
    height: 100px;
    line-height: 100px;
    font-size: 60px;

}
