body {
    font-family: "Arial", sans-serif;
    text-align: center;
}

/* MDN Web Docs describes this property
*/
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.case {
    height: 100px;
    border: 1px solid #333333;
    line-height: 100px;
    font-size: 60px;
}
